<h1> Hospital Hogsmeade </h1>
<h2> LOCALIZAÇÃO </h2>
<p> O Hospital fica localizado no Vilarejo Hogsmeade que é o único estabelecimento na Grã-Bretanha habitado unicamente por seres mágicos, e está localizada a noroeste da Escola de Magia e Bruxaria de Hogwarts.É ligada Hogwarts apenas por uma estrada, e separada pelo lago, é aonde tem a estação de trem na qual os alunos chegam . Os estudantes também podem visitar a vila em dias marcados, com permissão de seus encaregados de educação.</p>
<p>A vila foi fundada mais ou menos junto com Hogwarts, pelo bruxo Hengist de Woodcroft, que fugia da perseguição dos trouxas. A vila serviu como quartel-general dos bruxos contra a Rebelião dos Duendes em 1612. Talvez, seja por isso que existam tantas passagens secretas entre a vila e a escola, encontrada pelos Marotos.</p>
<p>Ponto de Referência : Entre o <strong>Três Vassouras</strong> e a <strong>Cabeça de Javali</strong></p>
